:root
{
	--rotation: none;
	--blink: block;
}
#plateau{
	margin: auto;
	border: ridge 5px gold;
	width: min-content;
	transition: transform 1.5s linear;
	transform: var(--rotation);
	position: relative;
}
.ligne
{
	display: inline-flex;
	position: relative;
}
.case
{
	width: 98px;
	height: 98px;
	border: solid 1px white;
	position: relative;
}
.case.blk
{
	color: white;
	background-color: black;
	border: solid 1px black;
}
.case.mvt
{
	width: 94px;
	height: 94px;
	background-color: forestgreen;
	border: double 3px darkgreen;
}
.case.atk
{
	width: 90px;
	height: 90px;
	border: groove 5px red;
}
.white, .black
{
	height: -webkit-fill-available;
	background-position: center;
	z-index: 500;
}
.black
{
	transform: rotate(180deg);
}
.index
{
	transform: var(--rotation);
	display: var(--blink);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
}